html{
	background-color: #f5f5f5 ;
}

#mainContainer{
	min-height: calc(100vh - 134px);
}

.sExpanded::before ,.sCollapsed::before{
	/* content: ''; */
	position: absolute;
	/* top: -10px;
	right: -10px; */
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: yellow;
	/* display: flex; */
	justify-content: center;
	align-items: center; 
	font-weight: bold;
  	left: 0px;
  	top: 1px;
}


/* Atributos  */
[transparent] { visibility: hidden; } 
[hidden] { display: none; } 

.loading:after {
	content: ' .';
	animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
	0%, 20% {
		color: rgba(0,0,0,0);
		text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);
	}
	40% {
		color: white;
		text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);
	}
	60% {
		text-shadow:
		.25em 0 0 white,
		.5em 0 0 rgba(0,0,0,0);
	}
	80%, 100% {
		text-shadow:
		.25em 0 0 white,
		.5em 0 0 white;
	}
}

